body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
}

main {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #ffffff60;

    min-width: 35rem;
}

#app {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 8px;
    padding-bottom: 10px;
}

#displayArea {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;

    border: 1px solid #ffffff80;
    background-color: #242424;
    border-radius: 10px;
}
